<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Banner.css" />
    <link rel="stylesheet" href="/styles/Details.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <meta name="description" content="Game Boxed is a database of millions of games using IGDB's API.">
    <title>Game Boxed</title>
</head>

<body>
    <%- include("partials/header") %>

        <!------------------------------ Header Container ------------------------------->
        <% if(locals.games) { %>
            <div class="container">
                <div>
                    <img 
                       src="<%= games.cover.url.replace('/t_thumb/', '/t_1080p/') %>"
                       class="img"
                       alt="Cover art of the game <%= games.name %>">
                </div>

                <div class="game-description">
                    <div class="game-heading">
                        <h4 class="title">
                            <%= games.name %>
                        </h4>

                        <span class="release-date">
                            <%= new Date((games.first_release_date * 1000) + new Date().getTimezoneOffset() *
                                60000).toLocaleDateString('en-US', { year: 'numeric' , month: 'long' , day: 'numeric' })
                                %>
                        </span>
                    </div>

                    <div>
                        <h6 class="description muted">
                            <%= games.summary %>
                        </h6>
                    </div>

                </div>
            </div>

            <!------------------------------ Custom Container ------------------------------->
            <div class="custom-container">
                <div class="card-gap">
                    <!-- Storyline -->
                    <% if(locals.games.storyline) { %>
                        <div class="card">
                            <div class="div-spacing">
                                <h4>Story</h4>
                                <span class="muted">
                                    <%= games.storyline %>
                                </span>
                            </div>
                        </div>
                        <% } %>

                            <!-- Media -->
                            <div class="card">
                                <div class="div-spacing">
                                    <h4>Media</h4>
                                    <% if(locals.games.videos) { %>
                                        <div class="video-container">
                                            <iframe class="video"
                                                src="https://www.youtube-nocookie.com/embed/<%= games.videos[0].video_id %>"
                                                title="<%= games.videos[0].name %>"
                                                frameborder="0" allowfullscreen></iframe>
                                        </div>
                                        <% } %>
                                            <!-- Screenshots -->
                                            <div class="image-container">
                                                <% if(locals.games.screenshots) { %>
                                                    <% games.screenshots.forEach((image)=> { %>
                                                        <img class="screenshot" 
                                                            decoding="async"
                                                            loading="lazy"
                                                            alt="Screenshot of gameplay in <%= image.name %>"
                                                            src="<%= image.url.replace('/t_thumb/', '/t_720p/') %>"
                                                            srcset="<%= image.url.replace('/t_thumb/', '/t_1080p/').replace('jpg', 'webp') %>">
                                                        <% }) %>

                                                            <% } else { %>
                                                                <% console.log("No screenshots were found"); %>
                                                                    <% } %>
                                            </div>
                                </div>
                            </div>
                </div>

                <div class="card-gap">
                    <div class="card">
                        <div class="right-column">
                            <h4>Behind the Game</h4>

                            <% if (locals.games.involved_companies && locals.games.involved_companies.length> 0) { %>
                                <div>
                                    <span class="muted">Developers: </span>
                                    <% locals.games.involved_companies.forEach((company, index, array)=> { %>
                                        <a href="<%= company.company.url %>" class="company">
                                            <span>
                                                <%= company.company.name %>
                                                    <%= index===array.length - 1 ? '' : ',' %>
                                            </span>
                                        </a>
                                        <% }) %>
                                </div>
                                <% } else { %>
                                    <span>No companies were found</span>
                                    <% } %>
                        </div>
                    </div>

                    <div class="card">
                        <div class="right-column">
                            <h4>Game Information</h4>

                            <div>
                                <% if(locals.games.game_modes) { %>
                                    <span class="muted">Game Modes:</span>
                                    <% games.game_modes.forEach((mode)=> { %>
                                        <a href="" class="game-info">
                                            <span>
                                                <%= mode.name %>
                                            </span>
                                        </a>
                                        <% }) %>
                                            <% } %>
                            </div>

                            <div>
                                <% if(locals.games.genres) { %>
                                    <span class="muted">Popular Tags:</span>
                                    <% games.genres.forEach((genre)=> { %>
                                        <a href="" class="game-info">
                                            <span>
                                                <%= genre.name %>
                                            </span>
                                        </a>
                                        <% }) %>
                                            <% } %>
                            </div>

                            <div>
                                <% if(locals.games.platforms) { %>
                                    <span class="muted">Playable On:</span>
                                    <% games.platforms.forEach((platform)=> { %>
                                        <a href="" class="game-info">
                                            <span>
                                                <%= platform.name %>
                                            </span>
                                        </a>
                                        <% }) %>
                                            <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="right-column">
                            <h4>Age Ratings</h4>
                            <div>
                                <% if(locals.games.age_ratings) { %>
                                    <% games.age_ratings.forEach((rating)=> { %>
                                        <span>
                                            <%= rating.category %>
                                        </span>
                                        <% }) %>
                                            <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="right-column">
                            <h4>Language Support</h4>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>

            <script src="/js/dark.js" defer></script>
</body>

</html>