<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Banner.css" />
    <link rel="stylesheet" href="/styles/Games.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="description" content="Game Boxed is a database of millions of games using IGDB's API.">
    <script type="text/javascript" src="/js/dark.js" defer></script>
    <title>Game Boxed</title>
</head>

<body>
    <%- include("partials/header") %>
        <div class="container">
            <div class="side-area">
                <form method="GET" class="filter-container">
                    <div class="card side-card">
                        <label for="range" class="muted">
                            <span>Rating</span>
                            <span id="number">50</span>
                        </label>

                        <% if(locals.range) { %>
                            <input type="range" id="range" name="range" value="<%= range %>">
                            <% } else { %>
                                <input type="range" id="range" name="range" value="50">
                                <% } %>
                    </div>

                    <select class="card side-card select-dropdown" name="theme">
                        <option disabled="disabled" selected="true">Filter by Themes</option>
                        <option value="1">Action</option>
                        <option value="17">Fantasy</option>
                        <option value="18">Science Fiction</option>
                        <option value="19">Horror</option>
                        <option value="20">Thriller</option>
                        <option value="21">Survival</option>
                        <option value="22">Historical</option>
                        <option value="23">Stealth</option>
                        <option value="27">Comedy</option>
                        <option value="28">Business</option>
                        <option value="31">Drama</option>
                        <option value="32">Non-fiction</option>
                        <option value="33">Sandbox</option>
                        <option value="34">Educational</option>
                        <option value="35">Kids</option>
                        <option value="38">Open world</option>
                        <option value="39">Warfare</option>
                        <option value="40">Party</option>
                        <option value="41">4X (Explore, expand, exploit, and exterminate)</option>
                        <option value="42">Erotic</option>
                        <option value="43">Mystery</option>
                        <option value="44">Romance</option>
                    </select>

                    <select class="card side-card select-dropdown" name="genre">
                        <option disabled="disabled" selected="true">Filter by Genres</option>
                        <option value="2">Point-and-click</option>
                        <option value="4">Fighting</option>
                        <option value="5">Shooter</option>
                        <option value="7">Music</option>
                        <option value="8">Platform</option>
                        <option value="9">Puzzle</option>
                        <option value="10">Racing</option>
                        <option value="11">Real Time Strategy (RTS)</option>
                        <option value="12">Role-playing (RPG)</option>
                        <option value="13">Simulator</option>
                        <option value="14">Sport</option>
                        <option value="15">Strategy</option>
                        <option value="16">Turn-based strategy (TBS)</option>
                        <option value="24">Tactical</option>
                        <option value="25">Hack and slash/Beat 'em up</option>
                        <option value="26">Quiz/Trivia</option>
                        <option value="30">Pinball</option>
                        <option value="31">Adventure</option>
                        <option value="32">Indie</option>
                        <option value="33">Arcade</option>
                        <option value="34">Visual Novel</option>
                        <option value="35">Card & Board Game</option>
                        <option value="36">MOBA</option>
                    </select>

                    <button type="submit" class="card form-button">Apply Filters</button>
                </form>

            </div>

            <div class="main-area">
                <div class="search-container">
                    <form action="/games" method="GET" class="search-form">
                        <input type="text" name="search" class="search-bar" placeholder="Search...">
                        <button type="submit" class="submit-button" aria-label="Search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>

                <% if(locals.games) { %>
                    <% games.forEach((gameEntry)=> { %>
                        <a href="/games/<%= gameEntry.slug %>/<%= gameEntry.id %>" class="slug">
                            <div class="card main-card">

                                <% if (gameEntry.cover) { %>
                                    <div class="img-container">
                                        <img decoding="async" loading="lazy"
                                            src="<%= gameEntry.cover.url.replace('/t_thumb/', '/t_cover_big/') %>"
                                            srcset="<%= gameEntry.cover.url.replace('/t_thumb/', '/t_cover_big/').replace('jpg', 'webp') %>"
                                            alt="Cover art of <%= gameEntry.name %>" class="img">
                                    </div>
                                    <% } else { %>
                                        <div class="img-container unknown">
                                            <h6>Image not found</h6>
                                        </div>
                                        <% } %>


                                            <div class="description" t>
                                                <h4>
                                                    <%= gameEntry.name %>
                                                </h4>
                                                <span class="muted">
                                                    <%= new Date((gameEntry.first_release_date * 1000) + new
                                                        Date().getTimezoneOffset() * 60000).toLocaleDateString('en-US',
                                                        { year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                                                </span>
                                            </div>

                                            <div class="score">
                                                <h4>
                                                    <%= Math.floor(gameEntry.rating) %>
                                                </h4>
                                            </div>
                            </div>
                        </a>

                        <% }) %>
                            <% } %>
            </div>
        </div>

        <footer>

        </footer>
        <script>
            const slider = document.getElementById("range");
            const output = document.getElementById("number");

            output.innerHTML = "= " + slider.value;

            slider.oninput = function () {
                output.innerHTML = "= " + this.value;
            }
        </script>
</body>

</html>