<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Banner.css" />
    <link rel="stylesheet" href="/styles/Games.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <meta name="description" content="Game Boxed is a database of millions of games using IGDB's API.">
    <title>Game Boxed</title>
</head>

<body>
    <%- include("partials/header") %>
        <div class="container">
            <h1 class="title">Games</h1>

            <div class="side-area">
                <form method="GET" class="filter-container">
                    <div class="card side-card">
                        <label for="range">
                            <span>Rating</span>
                            <span id="number">50</span>
                        </label>

                        <% if(locals.range) { %>
                            <input type="range" id="range" name="range" value="<%= range %>">
                            <% } else { %>
                                <input type="range" id="range" name="range" value="50">
                                <% } %>
                    </div>

                    <select class="card side-card select-dropdown" name="theme">
                        <option disabled="disabled" <%=!theme ? 'selected="true"' : '' %>>Filter by Themes</option>
                        <option value="1" <%=theme==1 ? 'selected="true"' : '' %>>Action</option>
                        <option value="17" <%=theme==17 ? 'selected="true"' : '' %>>Fantasy</option>
                        <option value="18" <%=theme==18 ? 'selected="true"' : '' %>>Science Fiction</option>
                        <option value="19" <%=theme==19 ? 'selected="true"' : '' %>>Horror</option>
                        <option value="20" <%=theme==20 ? 'selected="true"' : '' %>>Thriller</option>
                        <option value="21" <%=theme==21 ? 'selected="true"' : '' %>>Survival</option>
                        <option value="22" <%=theme==22 ? 'selected="true"' : '' %>>Historical</option>
                        <option value="23" <%=theme==23 ? 'selected="true"' : '' %>>Stealth</option>
                        <option value="27" <%=theme==27 ? 'selected="true"' : '' %>>Comedy</option>
                        <option value="28" <%=theme==28 ? 'selected="true"' : '' %>>Business</option>
                        <option value="31" <%=theme==31 ? 'selected="true"' : '' %>>Drama</option>
                        <option value="32" <%=theme==32 ? 'selected="true"' : '' %>>Non-fiction</option>
                        <option value="33" <%=theme==33 ? 'selected="true"' : '' %>>Sandbox</option>
                        <option value="34" <%=theme==34 ? 'selected="true"' : '' %>>Educational</option>
                        <option value="35" <%=theme==35 ? 'selected="true"' : '' %>>Kids</option>
                        <option value="38" <%=theme==38 ? 'selected="true"' : '' %>>Open world</option>
                        <option value="39" <%=theme==39 ? 'selected="true"' : '' %>>Warfare</option>
                        <option value="40" <%=theme==40 ? 'selected="true"' : '' %>>Party</option>
                        <option value="41" <%=theme==41 ? 'selected="true"' : '' %>>4X (Explore, expand, exploit, and
                            exterminate)</option>
                        <option value="42" <%=theme==42 ? 'selected="true"' : '' %>>Erotic</option>
                        <option value="43" <%=theme==43 ? 'selected="true"' : '' %>>Mystery</option>
                        <option value="44" <%=theme==44 ? 'selected="true"' : '' %>>Romance</option>
                    </select>

                    <select class="card side-card select-dropdown" name="genre">
                        <option disabled="disabled" <%=!genre ? 'selected="true"' : '' %>>Filter by Genres</option>
                        <option value="2" <%=genre==2 ? 'selected="true"' : '' %>>Point-and-click</option>
                        <option value="4" <%=genre==4 ? 'selected="true"' : '' %>>Fighting</option>
                        <option value="5" <%=genre==5 ? 'selected="true"' : '' %>>Shooter</option>
                        <option value="7" <%=genre==7 ? 'selected="true"' : '' %>>Music</option>
                        <option value="8" <%=genre==8 ? 'selected="true"' : '' %>>Platform</option>
                        <option value="9" <%=genre==9 ? 'selected="true"' : '' %>>Puzzle</option>
                        <option value="10" <%=genre==10 ? 'selected="true"' : '' %>>Racing</option>
                        <option value="11" <%=genre==12 ? 'selected="true"' : '' %>>Real Time Strategy (RTS)</option>
                        <option value="12" <%=genre==12 ? 'selected="true"' : '' %>>Role-playing (RPG)</option>
                        <option value="13" <%=genre==13 ? 'selected="true"' : '' %>>Simulator</option>
                        <option value="14" <%=genre==14 ? 'selected="true"' : '' %>>Sport</option>
                        <option value="15" <%=genre==15 ? 'selected="true"' : '' %>>Strategy</option>
                        <option value="16" <%=genre==16 ? 'selected="true"' : '' %>>Turn-based strategy (TBS)</option>
                        <option value="24" <%=genre==24 ? 'selected="true"' : '' %>>Tactical</option>
                        <option value="25" <%=genre==25 ? 'selected="true"' : '' %>>Hack and slash/Beat 'em up</option>
                        <option value="26" <%=genre==26 ? 'selected="true"' : '' %>>Quiz/Trivia</option>
                        <option value="30" <%=genre==30 ? 'selected="true"' : '' %>>Pinball</option>
                        <option value="31" <%=genre==31 ? 'selected="true"' : '' %>>Adventure</option>
                        <option value="32" <%=genre==32 ? 'selected="true"' : '' %>>Indie</option>
                        <option value="33" <%=genre==33 ? 'selected="true"' : '' %>>Arcade</option>
                        <option value="34" <%=genre==34 ? 'selected="true"' : '' %>>Visual Novel</option>
                        <option value="35" <%=genre==35 ? 'selected="true"' : '' %>>Card & Board Game</option>
                        <option value="36" <%=genre==36 ? 'selected="true"' : '' %>>MOBA</option>
                    </select>

                    <select class="card side-card select-dropdown" name="platform">
                        <option disabled="disabled" <%=!platform ? 'selected="true"' : '' %>>Filter by Platform</option>
                        <option value="6" <%=platform==6 ? 'selected="true"' : '' %>>Windows PC</option>
                        <option value="49" <%=platform==49 ? 'selected="true"' : '' %>>Xbox One</option>
                        <option value="48" <%=platform==48 ? 'selected="true"' : '' %>>Playstation 4</option>
                    </select>
                    <!-- 
                    <div class="card date-box" name="release-date">
                        <div class="date-title"><span>Release Date</span></div>
                        <label for="input-release-min"><span>From</span></label>
                        <input type="date" name="min_release" min="1970-01-01" max="2100-12-31" id="input-release-min" class="date-input">
                        <label for="input-release-max"><span>To</span></label>
                        <input type="date" name="max_release" min="1970-01-01" max="2100-12-31" id="input-release-max" class="date-input">
                    </div> -->

                    <button type="submit" class="card form-button"><span>Apply Filters</span></button>
                    <a href="/games" class="card form-button link"><span>Reset Filters</span></a>
                </form>
            </div>



            <div class="main-area">
                <form action="/games" method="GET" class="search-form">
                    <input type="text" name="search" class="search-bar" placeholder="Search...">
                    <button type="submit" class="submit-button" aria-label="Search">
                        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                        </svg>
                    </button>
                </form>

                <% if(locals.games) { %>
                    <% games.forEach((gameEntry)=> { %>
                        <a href="/games/<%= gameEntry.slug %>/<%= gameEntry.id %>" class="slug">
                            <div class="card main-card">

                                <% if (gameEntry.cover) { %>
                                    <div class="img-container">
                                        <img decoding="async" loading="lazy"
                                            src="<%= gameEntry.cover.url.replace('/t_thumb/', '/t_cover_big/') %>"
                                            srcset="<%= gameEntry.cover.url.replace('/t_thumb/', '/t_cover_big/').replace('jpg', 'webp') %>"
                                            alt="Cover art of <%= gameEntry.name %>" class="img">
                                    </div>
                                    <% } else { %>
                                        <div class="img-container unknown">
                                            <h6>Image not found</h6>
                                        </div>
                                        <% } %>


                                            <div class="description" t>
                                                <h4>
                                                    <%= gameEntry.name %>
                                                </h4>
                                                <span class="muted">
                                                    <%= new Date((gameEntry.first_release_date * 1000) + new
                                                        Date().getTimezoneOffset() * 60000).toLocaleDateString('en-US',
                                                        { year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                                                </span>
                                            </div>

                                            <div class="score">
                                                <% if(gameEntry.rating >= 80) { %>
                                                <h4 style="color: #5dbb00;">
                                                    <%= Math.floor(gameEntry.rating) %>
                                                </h4>
                                               <% } else if(gameEntry.rating >= 70 && gameEntry.rating < 80) { %>
                                                    <h4 style="color: yellow;">
                                                        <%= Math.floor(gameEntry.rating) %>
                                                    </h4>
                                               <% } else if(gameEntry.rating >= 60 && gameEntry.rating < 70) { %>
                                                    <h4 style="color: orange;">
                                                        <%= Math.floor(gameEntry.rating) %>
                                                    </h4>
                                               <% } else { %>
                                                    <h4 style="color: red;">
                                                        <%= Math.floor(gameEntry.rating) %>
                                                    </h4>
                                               <% } %>
                                            </div>
                                </div>
                        </a>

                        <% }) %>
                            <% } %>
            </div>
        </div>

        <script src="/js/light.js" defer></script>
        <script src="/js/games.js" defer></script>
</body>

</html>